<%-include("header") -%> 
<footer id="footer" class="white">
    <div class="container-fluid">
    <a class="footer-link" href="https://twitter.com/"><i class="social-logo fab fa-twitter"></i></a> 
    <a class="footer-link" href="https://www.facebook.com/"><i class="social-logo fab fa-facebook-f"></i></a> 
    <a class="footer-link" href="https://www.instagram.com/"> <i class="social-logo fab fa-instagram"></i></a>
    <a class="footer-link" href="https://www.google.com/intl/hi/gmail/about/#"><i class="social-logo fas fa-envelope"></i></a>
    <p>© Copyright 2020 Ritik Srivastav</p>
     </div> 
  </footer>


</body>

</html>