<%- include("header") -%>
<section id="title">
    <div class="container-fluid">
      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"> <img src="logo.png" class="logo" alt="logo"> Indian Voyage</a>  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#footer">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#pricing">Places To Go</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#cta">Email Newsletter</a>
            </li>
        </ul>
        </div>
    </nav>


    <!-- Title -->
    <div class="row"> 
      <div>
        <h1 class="big-heading">India is not a nation, nor a country.  It is a subcontinent of nationalities.</h1>
        <!-- Search form -->
        <form action="https://www.makemytrip.com/" method="post" class="form-inline d-flex search-bar justify-content-center md-form form-sm mt-0">
          <i class="fas fa-search" aria-hidden="true"></i>
          <input name="search" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
            aria-label="Search">
        </form>
      </div>
  </div>
</section>


  <!-- Features -->

  <section id="features" class="white">
    <div class="container-fluid">
      <h1 class="feature-heading">Explore before you Visit</h1>
    <div class="row features-division" features>
      <div class="col-lg-4 feature-box">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="images/MCLEODGANJ.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Mcleodganj Tourism</h5>
            <p class="card-text">Mcleodganj is a hill station near Dharamshala, popular among trekkers.</p>
            <a href="https://www.holidify.com/places/mcleodganj/" class="btn btn-primary">Explore More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 feature-box">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="images/Rann-1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Rann of Kutch</h5>
            <p class="card-text">Rann Festival is held during December-February everywhere in which there are huge camp settlements with cultural programs, functions and adventure activities</p>
            <a href="https://www.holidify.com/places/kutch/great-rann-of-kutch-sightseeing-2558.html" class="btn btn-primary">Explore More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 feature-box">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="images/ALLEPPEY.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Alleppey</h5>
            <p class="card-text">Allepey is also popular for its Houseboat cruises that pass through the serene backwaters.</p>
            <a href="https://www.holidify.com/places/alleppey/" class="btn btn-primary">Explore More</a>
          </div>
        </div>   
      </div>
      <div class="col-lg-4 feature-box">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="images/DARJEELING.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Darjeeling</h5>
            <p class="card-text">Darjeeling works wonders to cater to the gorgeous panorama of the Himalayas.</p>
            <a href="https://www.holidify.com/places/darjeeling/" class="btn btn-primary">Explore More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 feature-box">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="images/VARANASI.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Varanasi</h5>
            <p class="card-text">World's oldest living city, Varanasi - also known as Kashi (City of Life) and Benaras, is the spiritual capital of India.</p>
            <a href="https://www.holidify.com/places/varanasi/" class="btn btn-primary">Explore More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 feature-box">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="images/JAISALMER.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Jaisalmer</h5>
            <p class="card-text">aisalmer is adorned with lakes, ornate Jain temples and havelis.</p>
            <a href="https://www.holidify.com/places/jaisalmer/" class="btn btn-primary">Explore More</a>
          </div>
        </div>
      </div>
    </div>
  </div>     
  </section>


  <!-- Testimonials -->

  <section id="testimonials" class="coloured">

    <div id="testimonial-carousal" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item container-fluid active">
          <h2 class="testimonial-text">This was the first time I had visited India and it has left me with the most wonderful memories I just want to go back.</h2>
          <img  class="testimonial-image" src="images/lady_1.jpg" alt="lady-profile">
          <em>Pietra Schwarzler, Brazil</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text container-fluid">"INDIA" alludes to custom, its a delightful nation with parts a religions and societies.  </h2>
          <img class="testimonial-image" src="images/men.png" alt="men-profile">
          <em>Ted Hughes, Australia</em> 
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousal" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#testimonial-carousal" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
    </div>
  </section>


  <!-- Press -->

  <section id="press">
    <img class="press-logo" src="images/incredible-logo.png" alt="incredible-logo">
    <img class="press-logo" src="images/swlogo-og-removebg-preview.png" alt="similarweb-logo">
    <img class="press-logo" src="images/bizinsider.png" alt="biz-insider-logo">
    <img class="press-logo" src="images/mashable.png" alt="mashable-logo">

  </section>


  <!-- Pricing -->

<section id="pricing" class="white">
  <h2 class="section-heading">A Plan for Every Traveller's Needs</h2>
  <p>Simple and affordable price plans for you and your companion.</p>
  <div class="row">
      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card ">
        <div class="card-header">
          <h3>Himachal Pradesh</h3>
        </div>
        <div class="card-body">
          <h2 class="pricing-text">$ 396.21</h2>
          <p>6 Days</p>
          <p>5 Nights</p>
          <p>Breakfast and Dinner</p>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary "> <a href="https://www.thomascook.in/holidays/india-tour-packages/himachal-pradesh-tour-packages/himachal-paradise-with-flexi-flights?pkgId=PKG003384&packageClassId=0&destination=PKG003384_himachal%20pradesh_STATE_0&destTag=Chandigarh">See More</a></button>
        </div>
        </div>
    </div>
    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card ">
      <div class="card-header">
        <h3> Kashmir</h3>
      </div>
      <div class="card-body">
        <h2 class="pricing-text">$ 429.69</h2>
        <p>5 Days</p>
        <p>4 Nights</p>
        <p>Breakfast and Dinner</p>
        <button type="button" class="btn btn-lg btn-block btn-primary tour-price"><a href="https://www.thomascook.in/holidays/india-tour-packages/jammu-and-kashmir-tour-packages/holiday-saving-account-exotic-kashmir?pkgId=PKG002484&packageClassId=0&destination=PKG002484_jammu%20and%20kashmir_STATE_0&destTag=Jammu%20And%20Kashmir">See More</a></button>
      </div>
      </div>
      </div>
      <div class="pricing-column col-lg-4 col-md-12">
        <div class="card ">
      <div class="card-header">
        <h3>Goa</h3>
      </div>
      <div class="card-body">
        <h2 class="pricing-text">$ 376.00</h2>
        <p>4 Days</p>
        <p>3 Nights</p>
        <p>Mixology session</p>
        <p>Breakfast and Dinner</p>
        <button type="button" class="btn btn-lg btn-block btn-primary tour-price"><a href="https://www.thomascook.in/holidays/india-tour-packages/goa-tour-packages/goa-magic-moments-with-w-hotel?pkgId=PKG005092&packageClassId=2&destination=PKG005092_goa_STATE_0&destTag=Goa">See More</a></button>
      </div>
      </div>
      </div> 
  </div>  
</section>


  <!-- Call to Action -->

  <section id="cta" class="coloured">
    <div class="container-fluid">
    <h3 class="big-heading">India - A Destination for the New Millennium.</h3>
    <h5 class="small-heading">Download Our App.</h5>
    <button type="button" class="btn cta-button btn-dark"><i class="fab fa-apple"></i> Download</button>
    <button type="button" class="btn cta-button btn-light"><i class="fab fa-google-play"></i> Download</button>
    <h5 class="small-heading">Subscribe To Our NewsLetter.</h5>
    <a class=" cta-button btn btn-dark btn-lg" href="/register" role="button"><i class="far fa-envelope"></i> Register</a>
  </section>
<%- include("footer") -%> 